body{
font-family: Arial, sans-serif;
margin:0;
text-align:center;
color:white;

/* RCB  background */
background: linear-gradient(180deg,#000000,#8B0000);
min-height:100vh;
}

/* Header */
header{
background:#000000;
padding:20px;
}

/* Navbar */
nav{
background:#000000;
padding:12px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
font-weight:bold;
}

nav a:hover{
color:#ff4d4d;
}

/* container sections */
section{
background: rgba(255,255,255,0.05);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
border:1px solid rgba(255,255,255,0.2);
padding:20px;
margin:30px auto;
width:80%;
border-radius:15px;
box-shadow:0 8px 32px rgba(0,0,0,0.5);
}

/* Player cards */
.player{
background: rgba(255,255,255,0.06);
backdrop-filter: blur(12px);
border:1px solid rgba(255,255,255,0.2);
border-radius:12px;
padding:15px;
margin:15px auto;
width:250px;
transition:0.3s;
}

.player:hover{
transform: scale(1.05);
}

.players-container{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:20px;
}

.player{
margin:0;
width:auto;
}

.player img{
width:180px;
height:180px;
object-fit:cover;
border-radius:10px;
margin-bottom:10px;
}

table{
margin:20px auto;
width:80%;
border-collapse:collapse;
background: rgba(255,255,255,0.06);
backdrop-filter: blur(10px);
border-radius:10px;
overflow:hidden;
}

th{
background: rgba(0,0,0,0.6);
color:white;
padding:12px;
}

td{
padding:10px;
border-bottom:1px solid rgba(255,255,255,0.2);
}

tr:nth-child(even){
background: rgba(255,255,255,0.03);
}

/*header*/
.header{
display:flex;
align-items:center;
justify-content:center;
position:relative;
padding:10px 20px;
background:#000000;
}

/* Logo */
.logo{
width:80px;
height:80px;
border-radius:0%;
object-fit:cover;
position:absolute;
left:20px;
}

/* Title */
.header{
display:flex;
align-items:center;
padding:10px 20px;
background:#000000;
}


/* About section  */
.about{
display:flex;
align-items:center;
justify-content:center;
gap:30px;
padding:30px;
}

.team-image img{
width:350px;
border-radius:15px;
}

.about-text{
max-width:500px;
text-align:left;
}

.about-text h2{
text-align:center;
}


h1{
margin-top:20px;
font-size:40px;
}



.season-buttons{
margin:30px 0;
}



.season-buttons button{
background:#000;
color:white;
border:2px solid gold;
padding:12px 25px;
margin:10px;
font-size:18px;
border-radius:25px;
cursor:pointer;
transition:0.3s;
}



.season-buttons button:hover{
background:gold;
color:black;
transform:scale(1.05);
}

.back-arrow{
position:absolute;
top: 23px;
left:23px;
color:white;
font-size:20px;
text-decoration:none;
font-weight:bold;

width:40px;
height:40px;
border-radius:50%;
border:2px solid gold;

display:flex;
align-items:center;
justify-content:center;

transition:0.3s;
}

.back-arrow:hover{
background:gold;
color:black;
}


@media (max-width:768px){

.players-container{
grid-template-columns:repeat(2,1fr);
}

}